# Segredos e configs locais
.env
.env.*
!.env.example
appsettings.Development.json
appsettings.*.local.json
appsettings.json

# Build do .NET
bin/
obj/
out/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
.idea/

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# Testes
TestResults/
coverage/

# Pacotes NuGet (cache local)
*.nupkg
packages/

# Sistema operacional
.DS_Store
Thumbs.db

# Certificados/chaves 
*.pfx
*.key
*.pem

# Migrations
**/db/migrations/
**/db/dataset/